@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700');

.container {
  max-width: 1160px;;
  margin: 0 auto;
  position: relative;
}
.bg-img {
  background-image: url(../images/header/header-bg.jpg);
  background-color: rgba(67, 65, 56, 0.6);
  background-blend-mode: multiply;
  min-height: 1012px;
  background-size: cover;
}
.header-wrapper {
  min-height: 120px;
  background-color: rgba(66, 66, 66, 0.6);
}
.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-link-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #b8b8b8;
  margin-right: 10px;;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.header-link-item:hover::after {
  content: "";
  background-color: #18cfab;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -58px;
  left: 0px;

}
.header-link-item:hover {
  color: #18cfab;
  transition: 0.4s;
}
.ham-logo {
  width: 60px;
  height: 35px;
  background: #18cfab;
  position: relative;
  margin: 48px 0;
}
.ham-logo::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 18px solid #18cfab;
}
.ham-logo::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 18px solid #18cfab;
}
.ham-letter {
  color: #fff;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;    
  position: absolute;
  left: 15px;
  top: -4px;
}
.header-logo {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-right: 292px;
  margin-left: 8px;
}
.logo-style {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #18cfab;
  font-size: 32px;
}
.fa-search {
  color: #bbbbbb;
}
.fa-search:hover {
  color: #18cfab;
  transition: 0.4s;
}
.header-logo {
  text-decoration: none;
}
/* HEADER NAV BAR END */
.header-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.header-slogan-text {
margin-top: 246px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
font-size: 35px;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 45px;;
}
.diff-color {
  color: #18cfab;
}
.header-main-slogan {
color: #ffffff;
font-family: 'Montserrat', sans-serif;
font-size: 79px;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 37px;
}
.header-description {
color: #d4d4d4;
font-family: 'Montserrat', sans-serif;
font-size: 34px;
font-weight: 300;
margin-bottom: 146px;
}
.btn-all {
  padding: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  border-radius: 6px;
  box-sizing: border-box;
  border-top: 4px solid white; 
}
.header-explore-btn {
  background-color: #18cfab;
  margin-right: 30px;
}
.header-purchase-btn {
  background-color: #00cbf6;
}
/* HEADER FINISHED */
 /* SERVICES START */
.services-blocks {
  display: flex;
  justify-content: center;
  margin-bottom: 82px;
}
.services-text {
  width: 480px;
  height: 374px;
}
.serv-theme {
  background-color: #1c2a33;
  border-top: 6px solid #18cfab;
}
.serv-castomize {
  background-color: #18cfab;
  border-top: 6px solid #ffffff;
}
.serv-support {
  background-color: #1c2a33;
  border-top: 6px solid #18cfab;
}
.serv-responsive {
  background-color: #18cfab;
  border-top: 6px solid #ffffff;
}
.services-items {
  width: 25%;
  height: 374px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.services-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.text-color-odd {
  color: #18cfab;
  margin-top: 49px;
}
.text-color-even {
  color: #ffffff;
  margin-top: 59px;
}
.services-img-theme {
  margin-top: 95px;
}
.services-img-cast {
  margin-top: 106px;
}
.services-img-support {
  margin-top: 95px;
}
.services-img-resp {
  margin-top: 105px;
}
/* SERVICES BLOCKS FINISHED */
/* SERVICES DESCRIPTION START */
.services-wrapper {
  margin-bottom: 105px;
}
.section-title {
  color: #4e4e4e;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 112px;
  position: relative;
}
.section-title::before {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -37px;
  left: 47%;
}
.section-title::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -41px;
  left: 48%;
}
.services-options {
  display: flex;
  justify-content: flex-center;
  margin-bottom: 25px;
}
.services-title {
  width: 192px;
  height: 73px;
  background-color: #f8fcfe;
  border: 1px solid #ebebeb;
  color: #717171;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 27px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.services-title.active-services {
  background-color: #18cfab;
  color: #ffffff;
  transition: 0.4s;
}
.services-title:hover {
  background-color: #18cfab;
  color: #ffffff;
  transition: 0.4s;
}
.active-services::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 13px solid #18cfab;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  position: absolute;
  bottom: -13px;
  left: 80px;
}
.service-description {
  display: none;
}
.service-description.active {
  display: flex;
  justify-content: flex-start;
}
.service-img {
  border: 1px solid #d2d2d2;
  width: 194px;
  height: 139px;
  margin-right: 20px;
}
.service-text-description {
  color: #777777;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
/* SERVICES DESCRIPTION END */
/*  BUY NOW SECTION START */
.buy-now-section {
  background-image: linear-gradient(rgba(0,0,0,0.78),rgba(0,0,0,0.78)), url(../images/buy-bg-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 474px; 
}
.buy-now-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.buy-title {
  color: #18cfab;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 126px;
}
.buy-text {
  color: #d8d8d8;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 35px;
}
.buy-btn {
  margin-top: 80px;
  background-color: #18cfab;
}
/*  BUY NOW SECTION END */
/* SECTION AMAZING WORK START */
.work-section {
  background-color: #f8fcfe;
  padding-top: 97px;
  padding-bottom: 100px;
}
.work-options {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 71px;
}
.work-example {
  padding: 24px 25px 20px;
  border: 1px solid #d2d2d2;
  color: #717171;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.work-example:hover {
  color: #18cfab;
  transition: 0.4s;
  border-top: 3px solid #18cfab;
}
.active-work {
  color: #18cfab;
  border-top: 3px solid #18cfab;
}
.work-img {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;;
  margin: 0 auto;
  padding-bottom: 71px;
}
.img-section {
  position: relative;
}
.example {
  margin-top: -5px;
}
.all-img-section {
  position: relative;
}
.hide {
  display: none;
}
.section-description {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 286px;
  height: 206px;
  background-color: #f8fcfe;
  position: absolute;
  transition-duration:0.5s;
  bottom: -20px;
  border-top: 3px solid #18cfab;
}
.img-section:hover .section-description {
  bottom: 0;
  opacity: 1;
}
.work-btns {
  margin: 43px 0 34px;
}
.info-link {
  border: 1px solid #18cfab;
  border-radius: 20px;
  padding: 10px;
  color: #18cfab;
}
.search-link {
  background-color: #18cfab;
  padding: 11px;
  border-radius: 20px;
  color: #fff;
}
.work-name {
  color: #18cfab;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.work-direction {
  color: #8a8a8a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
}
.load-more-btn {
  background-color: #18cfab;
  position: absolute;
  left: 500px;
}
.fa-plus {
  margin-right: 16px;
}
/* SECTION AMAZING WORK END */
/* SECTION BREAKING NEWS START */
.breaking-news {
  margin-top: 84px;
  margin-bottom: 132px;
}
.news-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-section-link {
  text-decoration: none;
}
.news-section-wrapper {
  margin-bottom: 45px;
  position: relative;
}
.news-date-wrapper {
  width: 68px;
  height: 66px;
  background-color: #203e38;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s;
}
.news-section-wrapper:hover .news-date-wrapper{
  background-color: #18cfab;
}
.news-section-wrapper:hover .news-title {
  color: #18cfab;
}
.news-date {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.date-numb {
  margin-top: 15px;
}
.news-about {
  width: 262px;
  height: 72px;
  background-color: #f8fcfe;
  border: 1px solid #ebebeb;
  margin-top: -2px;
}
.news-title {
  color: #717171;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 14px 0 14px 20px;
}
.news-comments {
  color: #777777;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
}
/* SECTION BREAKING NEWS END */
/* ABOUT US SECTION START */
.about-us {
background-image: url(../images/about-us/about-us-img.jpg);
min-height: 852px;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-color: #2e4a5b83;
background-blend-mode: multiply;
}
.title-about-us {
  padding-top: 100px;
  color: #ffffff;
  margin-bottom: 73px;
}

.text-description {
  color: #bbbbbb;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-top: 43px;
  margin-bottom: 50px;
}
.text-description::before {
  content: "\275B \275B";
  color: #18cfab;
  display: block;
  font-size: 125px;
  padding: 25px;
}
.team-member {
  text-align: center;
}
.member-name {
  color: #18cfab;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.member-position {
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 37px;
}
.member-photo {
  margin: 0 auto;
  display: block;
  width: 143px;
  height: 142px;
  border: 2px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 11px rgba(24,207,171,0.27);
}
.member-slider {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
  padding-bottom: 104px;
}
.slider-photo {
  width: 59px;
  height: 59px;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(24,207,171,0.27);
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.slider-photo.active {
  top: -25px;
  border-color: #18cfab;
}
.slider-arrow {
  padding-left: 10px;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  text-decoration: none;
  color: grey;
  font-weight: 700;
  font-size: 20px;
}
.slider-arrow:hover {
  background-color: #18cfab;
  border-color: #18cfab;
  color: white;
  cursor: pointer;
}
.slider-arrow.left {
  left: 360px;
}
.slider-arrow.right {
  right: 380px;
}
/* ABOUT US SECTION END */
/* FOOTER START */
.footer {
  min-height: 108px;
  background-color: #22353f;
}
.footer-wrapper {
  min-height: 108px;
  display: flex;
  justify-content: center;
}
.footer-copyright {
  align-self: center;
  height: 14px;
  color: #aeaeae;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.footer-link {
  color: #18cfab;
  text-decoration: none;
}
/* FOOTER END */
